# vim: ft=yaml
#
# Set default values.
---
values:
  lookup:
    pkg:
      manager: brew
      name: koekeishiya/formulae/skhd
    paths:
      confdir: '.config/skhd'
      conffile: 'skhdrc'
      xdg_dirname: 'skhd'
      xdg_conffile: 'skhdrc'
    rootgroup: {{ salt['cmd.run']("stat -f '%Sg' /dev/console") }}
    service:
      name: skhd
    brew_user: '{{ salt["cmd.run_stdout"]("id -n -u $(stat -f \"%u\" \"$(brew --prefix)\"/bin/brew)",
      python_shell=True) }}'
...
