# vim: ft=yaml
#
# Set default values.
---
values:
  lookup:
    pkg:
      manager: brew
      name: koekeishiya/formulae/skhd
    paths:
      confdir: '.config/skhd'
      conffile: 'skhdrc'
      xdg_dirname: 'skhd'
      xdg_conffile: 'skhdrc'
    rootgroup: {{ salt['cmd.run']("stat -f '%Sg' /dev/console") }}
    service:
      name: com.koekeishiya.skhd
    bin: '{{ salt["cmd.run_stdout"]("brew --prefix") | path_join("bin", "skhd") }}'
    console_user: '{{ salt["cmd.run_stdout"]('id -n -u $(stat -f "%u" /dev/console)', python_shell=True) }}'

  tofs:
    files_switch:
      - G@id|U@users
      - id
      - C@roles|U@users
      - roles
      - G@os_family|U@users
      - os_family
      - U@users
...
